body { 
    background-color: white;
    font-family: 'Lato', 'Helvetica Neue', Arial, sans-serif;
    color: #333333;
    margin-left: 15px;
    padding: 0px;
    display: flex;
    flex-flow: column;
    text-align: left;
}

@media (max-width: 600px) {
    .Container {
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }

    .Languages, .Coding-Languages, .Hobbies {
        width: 90%;
    }
}


.AboutMe {
    padding: 0px;
    margin: 0px;
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
}

.AboutMe h1 { 
    margin-bottom: 12px;
}

.AboutMe p { 
    margin-top: 0px;
}

.Skills { 
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
}

.Skills h2{ 
    margin-bottom: 12px;
}

.Skills p{ 
    margin-top: 0px;
}

.Container { 
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    gap: 20px;
}

.Languages {
    margin: 0;
    padding: 5px;
    width: 225px;
    border: 2px solid grey;
}

.Languages h3 {
    margin-bottom: 5px;
    margin-top: 0;
}

.Languages ul {
    margin: 0;
    padding: 0;
    list-style:square;
    list-style-position: inside;
}

.Coding-Languages {
    margin: 0;
    width: 225px;
    padding: 5px;
    border: 2px solid grey;
}

.Coding-Languages h3 {
    margin-bottom: 5px;
    margin-top: 0;
}

.Coding-Languages ul {
    margin: 0;
    margin-bottom: 0;
    padding: 0;
    list-style:square;
    list-style-position: inside;
}

.Hobbies {
    margin: 0;
    width: 225px;
    padding: 5px;
    border: 2px solid grey;
}

.Hobbies h3 {
    margin-bottom: 5px;
    margin-top: 0;
}

.Hobbies ul {
    margin: 0;
    padding: 0;
    list-style:square;
    list-style-position: inside;
}


.Education {
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
}

.Education h3 {
    margin-bottom: 12px;
}

.Education ul {
    margin-top: 0px;
    padding-left: 20px;
    list-style:square;
}

.Experience {
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
}

.Experience h3 {
    margin-bottom: 12px;
}

.Experience ul {
    margin-top: 0px;
    padding-left: 20px;
    list-style:square;
}

